<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.Cells" version="23.9.0" targetFramework="net48" />
  <package id="IKVM" version="8.1.5717.0" targetFramework="net451" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net48" />
  <package id="RestSharp" version="110.2.0" targetFramework="net48" />
  <package id="Syncfusion.Compression.Base" version="23.1.36" targetFramework="net451" requireReinstallation="true" />
  <package id="Syncfusion.Licensing" version="23.1.36" targetFramework="net451" requireReinstallation="true" />
  <package id="Syncfusion.Pdf.WinForms" version="23.1.36" targetFramework="net451" requireReinstallation="true" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="8.0.4" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>